html, body{
    margin:0;
    padding:0;
    height: 100%;
}
body{
    /*background-color: rgb(193,231,210);*/
    background-color: rgba(255, 255, 255, 0.466);
}
/* fontes do google*/
.oswald-font{
    font-family: 'Oswald', sans-serif;
}
.pt-sans-font{
    font-family: 'PT Sans', sans-serif;
}
.ubuntu-font{
    font-family: 'Ubuntu', sans-serif;
}
.titillium-web-font{
    font-family: 'Titillium Web', sans-serif;
}
.fira-sans-condensed-font{
    font-family: 'Fira Sans Condensed', sans-serif;
}
.coda-caption-font{
    font-family: 'Coda Caption', sans-serif;
}
.hammarsmith-one-font{
    font-family: 'Coda Caption', sans-serif;
}

/* barra de navegação*/
.navbar-default-setting{
    background-color: rgba(0, 6, 81,0.8);
    /*background-color:rgba(255,255,255, 0.8);*/
}
.navbar-color-logged{
    background-color: rgb(6, 66, 0);
}
a{
    color: white;    
    font-style: unset;
    font-size: larger;
}
    a:hover{
        color: rgb(255,255,255) ;
    }
.brand-title{
    font-size: x-large;
    font-weight: bolder;
    padding: 0rem;
    margin:1px;
}

li{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
} 
/* body site*/

.dr-body{
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
/* main*/
.main-content{
    min-height: 100%;
    margin-top:3rem;
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.dr-form-body{
    background-color: rgba(27, 255, 149, 0.63);
    border-top: rgb(5,127,62) solid;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
    margin-top:2em;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom:3rem;
}
/* PERFIL*/
.dr-profile-form{
    margin: 2rem;
    box-sizing: border-box;
}
.dr-profile-header{
    background-color: rgb(123,218,158);
    border-bottom: solid;
    text-align: left;
}
.dr-profile-title{
    font-size: 3em;
    margin-left:3rem;
    padding-top:1rem;
    padding-bottom:0;
    margin-bottom:0;
}
.dr-profile-body{
    background-color: rgb(194, 196, 231);
    padding-left: 0.3em;
}
.dr-profile-content{
    padding: 2em;
}
.dr-profile-field{
    font-size: 1.2rem;
}
.dr-profile-footer{
    padding-bottom: 2em;
    font-size: 1.5em;
}
    .dr-profile-footer > a{
        font-size: 0.75em;
        color:black;
    }
.dr-profile-icon{
    width: 50px;
    height: 50px;
}
/* objetos*/
.dr-obj{
    width: 100%;
    height: 50%;
    margin-top:2em;
    MARGIN-bottom: 3%;
}
.dr-obj-catalog{
    position: relative;
}
.dr-obj-form{
   margin-top:2em;
}
.dr-obj-f-header{
   margin-bottom:1em;
}
.dr-obj-p{
    text-align: center
}
.dr-obj-f-content{
    text-align: center;
    padding-bottom: 2em;
    margin-bottom:0.6em;
}
.dr-obj-f-footer{
    padding-left: 45%;
    padding-right: 45%
}
/* titles*/
    /*h1*/
.dr-title-h1{
    margin-top:0.2em;
    font-size: 5rem;
    text-align: center;
}
/* carousel*/

.carousel-item-add{
    background-color: rgba(255, 255, 255, 0.342);
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-left: 6px solid rgba(31,64,227,0.8);
}

/* footer*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(6, 66, 0, 0.479);
}
    footer > a{
        color:black
    }
.green-box{
    background-color:transparent;
    width: 100%;
}

.link-reference{
    padding:0.5rem;
    padding-bottom:0;
}
    .link-reference:hover{
        color:black;
        text-decoration-style: none;
        text-decoration: black;
    }

/* SVG*/
.svg-icon{
    width: 24px;
    height: 24px;
    margin: -6px;
    padding-left:0.1rem; 
}

/* CARD*/

.dr-card{
    margin-left: 2rem; 
    margin-right: 2rem;
    width: 33%;
    border-color: rgba(6,62,4,0.8);
    background-color: transparent;
    float: left;
    position: relative;
    margin-bottom: 5%;
}

.dr-card-title{
    text-align:center;
    font-size: 2rem;
}

.dr-card-author{
    float: right;
}
.dr-content-card{
    text-align: center;
}
.dr-btn-card{
    float:right;
}


/** Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .navbar-default-setting{
        background-color: rgba(23,180,218,0.124);
    }
    .brand-title{
        font-size: x-large;
        font-weight: bolder;
        padding: 0.75rem;
    }
    a{
        color: black;
        font-size: small;
    }
    .main-content{
        min-height: 100%;
        margin-top:0.75rem;
        padding-top: 0.8rem;
        padding-bottom: 3rem;
    }
    .dr-form-body{
        background-color: rgba(27, 255, 149, 0.63);
        border-top: rgb(5,127,62) solid;
        padding-top: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 2rem;
        margin-top:2em;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom:3rem;
    }
    .dr-card{
        width:90%;
        float:none;
    }
    .link-reference{
        padding:0;
    }
    .svg-icon{
        width: 12px;
        height: 12px;
        margin: -6px;
        padding-left:0.1px;
    }
    .dr-obj-f-header{
        font-size: 50%;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
     .navbar-default-setting{
        background-color: rgba(23,180,218,0.124);
    }
    .brand-title{
        font-size: x-large;
        font-weight: bolder;
        padding: 0.75rem;
    }
    a{
        color: black;
        font-size: small;
    }
    .main-content{
        min-height: 100%;
        margin-top:0.75rem;
        padding-top: 0.8rem;
        padding-bottom: 3rem;
    }
    .dr-form-body{
        background-color: rgba(27, 255, 149, 0.63);
        border-top: rgb(5,127,62) solid;
        padding-top: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 2rem;
        margin-top:2em;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom:3rem;
    }
    .dr-card{
        width:90%;
        float:none;
    }
    .link-reference{
        padding:0;
    }
    .svg-icon{
        width: 12px;
        height: 12px;
        margin: -6px;
        padding-left:0.1px;
    }
    .dr-obj-f-header{
        font-size: 50%;
    }
}


@media(min-width: 992px) and (max-width: 1199.98px) { 
    .navbar-default-setting{
        background-color: rgba(165,218,39,0.124);
    }
    .brand-title{
        font-size: x-large;
        font-weight: bolder;
        padding: 0.75rem;
    }
    a{
        color: black;
        font-size: small;
    }
    .main-content{
        min-height: 100%;
        margin-top:0.75rem;
        padding-top: 0.8rem;
        padding-bottom: 3rem;
    }
    .dr-form-body{
        background-color: rgba(27, 255, 149, 0.63);
        border-top: rgb(5,127,62) solid;
        padding-top: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 2rem;
        margin-top:2em;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom:3rem;
    }
    .dr-card{
        width:90%;
        float:none;
    }
    .link-reference{
        padding:0;
    }
    .svg-icon{
        width: 12px;
        height: 12px;
        margin: -6px;
        padding-left:0.1px;
    }
    .dr-obj-f-header{
        font-size: 50%;
    }
}


@media (max-width: 1200px) { 
     .navbar-default-setting{
        background-color: rgba(218,85,29,0.124);
    }
    .brand-title{
        font-size: x-large;
        font-weight: bolder;
        padding: 0.75rem;
    }
    a{
        color: black;
        font-size: small;
    }
    .main-content{
        min-height: 100%;
        margin-top:0.75rem;
        padding-top: 0.8rem;
        padding-bottom: 3rem;
    }
    .dr-form-body{
        background-color: rgba(27, 255, 149, 0.63);
        border-top: rgb(5,127,62) solid;
        padding-top: 2rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-bottom: 2rem;
        margin-top:2em;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom:3rem;
    }
    .dr-card{
        width:90%;
        float:none;
    }
    .link-reference{
        padding:0;
    }
    .svg-icon{
        width: 12px;
        height: 12px;
        margin: -6px;
        padding-left:0.1px;
    }
    .dr-obj-f-header{
        font-size: 50%;
    }
}