html, body{
    margin:0;
    padding:0;
    height: 100%;
}
body{
    background-color: rgb(203,231,159);
}
/* fontes do google*/
.oswald-font{
    font-family: 'Oswald', sans-serif;
}
.pt-sans-font{
    font-family: 'PT Sans', sans-serif;
}
.ubuntu-font{
    font-family: 'Ubuntu', sans-serif;
}
.titillium-web-font{
    font-family: 'Titillium Web', sans-serif;
}
.fira-sans-condensed-font{
    font-family: 'Fira Sans Condensed', sans-serif;
}
.coda-caption-font{
    font-family: 'Coda Caption', sans-serif;
}
.hammarsmith-one-font{
    font-family: 'Coda Caption', sans-serif;
}

/* barra de navegação*/
.navbar-default-setting{
    background-color: rgba(6,33,4,0.8);
    /*background-color:rgba(255,255,255, 0.8);*/
}

a{
    color: rgb(255,255,255) ;    
    font-style: unset;
    font-size: larger;
}
    a:hover{
        color: rgb(255,255,255) ;
    }
.brand-title{
    font-size: x-large;
    font-weight: bolder;
    padding: 0rem;
    margin:1px;
}

li{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
} 
/* body site*/

.dr-body{
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
/* main*/
.main-content{
    min-height: 100%;
    margin-top:3rem;
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.dr-form-body{
    background-color: rgba(27, 255, 149, 0.63);
    border-top: rgb(5,127,62) solid;
    border-radius: 0.8rem;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom:3rem;
}

/* titles*/
    /*h1*/
.dr-title-h1{
    margin-top:0.2em;
    font-size: 5rem;
    text-align: center;
}
/* carousel*/

.carousel-item-add{
    background-color: rgba(255, 255, 255, 0.342);
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-left: 6px solid rgba(31,64,227,0.8);
}

/* footer*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.green-box{
    background-color:rgb(60,216,39);
    width: 100%;
}

.link-reference{
    padding:0.5rem;
    padding-bottom: 0;
}
    .link-reference:hover{
        color:black;
        text-decoration-style: none;
        text-decoration: black;
    }

/* SVG*/
.svg-icon{
    width: 24px;
    height: 24px;
    margin: -6px;
    padding-left:0.1rem; 
}

/* CARD*/

.dr-card{
    margin-bottom: 1rem;
    margin-left: 2rem; 
    margin-right: 2rem;
    width: 33%;
    border-color: rgba(6,62,4,0.8);
    background-color: rgb(240,243,239);
    float: left;
    position: relative;
}

.dr-content-card{
    text-align: center;
}
.dr-btn-card{
    float:right;
}

